<div id="main-menu" class="main-menu collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <h3 class="menu-title">Dashboards</h3><!-- /.menu-title -->
        <li class="menu-item-has-children dropdown">
            <a href="/app" > Chelneri </a>
        </li>
        <li class="menu-item-has-children dropdown">
            <a href="/app/timeTable" > Adauga Orar </a>
        </li>
        <li class="menu-item-has-children dropdown">
            <a href="/app/addOrder" > Comenzi </a>
        </li>
        <li class="menu-item-has-children dropdown">
            <a href="/app/allTimeTable" > Orarul intreg </a>
        </li>
    </ul>
</div>